In [1]:
import os
import time
import pandas as pd
import numpy as np

In [2]:
# load attributes 
data_dir = os.getcwd() + '\\Data\\'
train_data = pd.read_csv(data_dir + 'train.csv')
data = train_data.ix[:, ['id', 'species']]
data.head()

   id                species
0   1            Acer_Opalus
1   2  Pterocarya_Stenoptera
2   3   Quercus_Hartwissiana
3   5        Tilia_Tomentosa
4   6     Quercus_Variabilis

In [3]:
labels = list(set(data['species']))
labels = pd.DataFrame(labels)
labels[1] = labels.index
labels.columns = ['species', 'specy_ids']
labels.head(5)

                species  specy_ids
0        Quercus_Cerris          0
1       Quercus_Greggii          1
2  Quercus_Dolicholepis          2
3     Quercus_Agrifolia          3
4     Quercus_Crassipes          4

In [4]:
data = pd.merge(data, labels, how='left', on='species')
data.head(5)

   id                species  specy_ids
0   1            Acer_Opalus         55
1   2  Pterocarya_Stenoptera         97
2   3   Quercus_Hartwissiana         86
3   5        Tilia_Tomentosa         70
4   6     Quercus_Variabilis         42

In [5]:
data.to_csv(data_dir + 'train_labels.csv', header='True', index=False)

In [6]:
label_count = len(labels)
train_count = len(data)
train_label_bits = np.zeros(shape=(train_count,label_count))
for i in range(train_count):
    train_label_bits[i][data['specy_ids'][i]] = 1

np.savetxt(data_dir + 'train_label_bits.csv', train_label_bits, delimiter=',', fmt='%i')